{
  "extends": "airbnb/base",
  "env": {
    "jasmine": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "react"
  ],

  "rules": {
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "comma-dangle": 0,
    "no-console": 0,
    "new-cap": 0,
    "no-multi-spaces": 0,
    "consistent-return": 0,
    "arrow-body-style": 0,
    "no-param-reassign": [2, { "props": false }]
  }
}
